@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');*{
    margin: 0;
}
body{
   background-color: #C8CC92;
   font-family: 'Open Sans', sans-serif;
   font-size: 1rem;
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 100vh;
}
main{
    display: flex;
    flex-direction: row; 
    justify-content: center;   
}
.content{
    background-image: url('images/img.jpg');
    max-width: 30%;
    max-height: 100%;
    min-width: 30%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.image img{
    width: 5vw;
    height: 12vh;
}
@font-face {
    font-family: 'Norse-Bold';
    src: url(fonts/Norse-Bold.otf);
}
.image .first{
    font-size: 4rem;
    color: white;
    font-family: 'Norse-Bold', sans-serif;
    padding: 10px 0;
}
.image{
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,.5);
    position: relative;
    top: 150px;
    justify-content: center;
}
.attribution{
    color: white;
    font-size: 1rem;
    position: absolute;
    top:95%;
    left: 15%;
}
.attribution a{
    color: white;
}
.attribution a:hover{
    transform: scale(1.5);
    color: #ffc600;   
}
.container{
    background-color: whitesmoke;
    max-width: 100vh;
    max-height: 100vh;
}
.container .para{
    max-width: 85%;
    margin: 50px auto 50px 40px;
}
.para p:first-child{
    margin-bottom: 20px;
}
.para p:last-child{
    margin-bottom: 40px;
}
h1{
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-left: 40px;
    color: #272838;
}
form{
    background-color: white;
    box-shadow: 0 5px 10px -5px rgb(180, 179, 179);
    color: #272838;  
}
.form{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10px;
}
.input{
    display: flex;
    flex-flow: column wrap;
    max-width: 40%;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-left: 40px;
}
input{
    padding: 5px 0;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}
input:focus{
    outline: none;
    border: 1px solid blue;
}
button{
    margin: 40px;
    margin-bottom: 10px;
    padding: 15px;
    width: 30%;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 5px 10px -5px #596D48;
}
p.log{
    margin-left: 40px;
}
.log a{
    text-decoration: none;
    color: #596D48;
}
